<div class="container my-3">
    <div class="row justify-content-center">
        <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link"  aria-label="Previous" (click)="reloadPage(-1)" style="cursor: pointer;">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" >{{page}}</a></li>
    <li class="page-item">
      <a class="page-link"  aria-label="Next" (click)="reloadPage(1)" style="cursor: pointer;">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
    </div>
</div>
<div class="container">
    <div class="row my-4">
        <div class="col-md-4 mb-3" *ngFor="let product of products">
            <div class="card" >
                <img src="{{product.image}}" class="card-img-top imageheight" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <a [routerLink]="['detail',product.id]" class="btn btn-primary btn-sm">Detail</a>
                </div>
                </div>
        </div>
    </div>
</div>
